<div class="container">
  <div class="d-flex flex-row bd-highlight mb-3">
    <div class="row">
      <!--#region EditAccountForm-->
      <form [formGroup]="EditAccountForm" needs-validation>
        <h3>Edit Account</h3>
        <div class="col-8 mb-3">
          <label>Username</label>
          <input type="text" formControlName="userName" placeholder="{{EditAccountForm.value.userName}}" required />
          <div *ngFor="let validation of validation_messages.Username">
            <div class="error-message"
              *ngIf="EditAccountForm.get('userName')?.hasError(validation.type) && (EditAccountForm.get('userName')?.dirty ||  EditAccountForm.get('userName')?.touched)">
              {{validation.message}}</div>
          </div>
        </div>
        <div [formGroup]="confirm_passwordForm">
          <div class="col-8 mb-3">
            <label>Password</label>
            <input type="password" formControlName="uPassword" required />
            <div *ngFor="let validation of validation_messages.uPassword">
              <div class="error-message"
                *ngIf="confirm_passwordForm.get('uPassword')?.hasError(validation.type) && (confirm_passwordForm.get('uPassword')?.dirty ||  confirm_passwordForm.get('uPassword')?.touched)">
                {{validation.message}}</div>
            </div>
          </div>
          <div class="col-8 mb-3">
            <label>confirm password</label>
            <input type="password" formControlName="confirm_password" required />
            <div *ngFor="let validation of validation_messages.confirm_password">
              <div class="error-message"
                *ngIf="confirm_passwordForm?.hasError(validation.type) && (confirm_passwordForm.get('confirm_password')?.dirty ||  confirm_passwordForm.get('confirm_password')?.touched)">
                {{validation.message}}</div>
            </div>
          </div>
        </div>

        <div class="col-sm-4 mb-3">
          <label>Email</label>
          <input type="text" formControlName="email" required />
          <div *ngFor="let validation of validation_messages.Email">
            <div class="error-message"
              *ngIf="EditAccountForm.get('email')?.hasError(validation.type) && (EditAccountForm.get('email')?.dirty ||  EditAccountForm.get('email')?.touched)">
              {{validation.message}}</div>
          </div>
        </div>

        <div class="col-8 mb-3">
          <label>phone number</label>
          <input type="number" formControlName="utlf" required>
          <div *ngFor="let validation of validation_messages.UTLF">
            <div class="error-message"
              *ngIf="EditAccountForm.get('utlf')?.hasError(validation.type) && (EditAccountForm.get('utlf')?.dirty ||  EditAccountForm.get('utlf')?.touched)">
              {{validation.message}}</div>
          </div>
        </div>

        <div formGroupName="address">
          <div formGroupName="postCode">
            <div class="col-8 mb-3">
              <label>Postcode</label>
              <input type="number" formControlName="postcode" required>
              <div *ngFor="let validation of validation_messages.PostCode">
                <div class="error-message"
                  *ngIf="EditAccountForm.get('address')?.get('postCode')?.get('postcode')?.hasError(validation.type) && (EditAccountForm.get('address')?.get('postCode')?.get('postcode')?.dirty || EditAccountForm.get('address')?.get('postCode')?.get('postcode')?.touched)">
                  {{validation.message}}</div>
              </div>
            </div>
            <div class="col-sm-4 mb-3">
              <label>City</label>
              <input type="text" formControlName="city" required>
              <div *ngFor="let validation of validation_messages.City">
                <div class="error-message"
                  *ngIf="EditAccountForm.get('address')?.get('postCode')?.get('city')?.hasError(validation.type) && (EditAccountForm.get('address')?.get('postCode')?.get('city')?.dirty ||  EditAccountForm.get('address')?.get('postCode')?.get('city')?.touched)">
                  {{validation.message}}</div>
              </div>
            </div>
          </div>
          <div class="col-8 mb-3">
            <label>streetNames</label>
            <input type="text" formControlName="streetNames" required>
            <div *ngFor="let validation of validation_messages.StreetNames">
              <div class="error-message"
                *ngIf="EditAccountForm.get('address')?.get('streetNames')?.hasError(validation.type) && (EditAccountForm.get('address')?.get('streetNames')?.dirty ||  EditAccountForm.get('address')?.get('streetNames')?.touched)">
                {{validation.message}}</div>
            </div>
          </div>
        </div>
        <button class=" btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteAccountmodel">
          deleteAccount
        </button>
        <button type="button" data-bs-toggle="modal" data-bs-target="#AddCard">
          Add credit card
        </button>
        <button type="button" (click)="Savechange()">Save change</button>
      </form>
      <!--#endregion-->
    </div>
  </div>
</div>


<!--#region addcard modal-->
<div class="modal fade" id="AddCard" tabindex="-1" aria-labelledby="AddCard" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header card-header bg-dark text-white-50">
        <strong>Credit Card</strong>
        <small>enter your card details</small>
      </div>
      <div class="modal-body card-body justify-content">
        <form [formGroup]="AddCardForm" needs-validation>
          <div class="row ">
            <div class="col-sm-4 mb-3">
              <label>FirstName</label>
              <input type="text" formControlName="FirstName" required>
              <div *ngFor="let validation of validation_messages.FirstName">
                <div class="error-message"
                  *ngIf="AddCardForm.get('FirstName')?.hasError(validation.type) && (AddCardForm.get('FirstName')?.dirty ||  AddCardForm.get('FirstName')?.touched)">
                  {{validation.message}}</div>
              </div>
              <label>LastName</label>
              <input type="text" formControlName="LastName" required>
              <div *ngFor="let validation of validation_messages.FirstName">
                <div class="error-message"
                  *ngIf="AddCardForm.get('LastName')?.hasError(validation.type) && (AddCardForm.get('LastName')?.dirty ||  AddCardForm.get('LastName')?.touched)">
                  {{validation.message}}</div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="form-group col-sm-4">
              <label>CardNumber</label>
              <input type="text" formControlName="CardNumber" placeholder="0000 0000 0000 0000" required>
              <div *ngFor="let validation of validation_messages.CardNumber">
                <div class="error-message"
                  *ngIf="AddCardForm.get('CardNumber')?.hasError(validation.type) && (AddCardForm.get('CardNumber')?.dirty ||  AddCardForm.get('CardNumber')?.touched)">
                  {{validation.message}}</div>
              </div>
            </div>
            <div class="form-group col-sm-4 " style="width: 50%;">
              <label>CVV/CVC</label>
              <input type="number" formControlName="SecurityNumber" placeholder="xxx" required>
              <div *ngFor="let validation of validation_messages.SecurityNumber">
                <div class="error-message"
                  *ngIf="AddCardForm.get('SecurityNumber')?.hasError(validation.type) && (AddCardForm.get('SecurityNumber')?.dirty ||  AddCardForm.get('SecurityNumber')?.touched)">
                  {{validation.message}}</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-4">
              <label for="ccmonth">Month</label>
              <select class="form-control" id="ccmonth" (change)="selectmonth($event)">
                <option>00</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
                <option>05</option>
                <option>06</option>
                <option>07</option>
                <option>08</option>
                <option>09</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
              </select>
            </div>
            <div class="form-group col-sm-4">
              <label for="ccyear">Year</label>
              <select class="form-control" id="ccyear" (change)="selectyear($event)">
                <option>00</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option>25</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-success" (click)="AddCard()" data-bs-dismiss="modal">
          Save Account
        </button>
      </div>
    </div>
  </div>
</div>
<!--#endregion-->

<!--#region deleteAccountmodel-->
<div class="modal fade" id="deleteAccountmodel" tabindex="-1" aria-labelledby="deleteAccountmodel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white-50">
        <h3>delete this Account</h3>
      </div>
      <div class="modal-body justify-content">
        Aew you sure you wanna delete this Account?
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          no
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="deleteAccount()">
          yes
        </button>
      </div>
    </div>
  </div>
</div>
<!--#endregion-->

<!--#region error popup-->
<button type="button" id="errorpopup" [hidden]="true" data-bs-toggle="modal" data-bs-target="#errormodal"></button>

<div class="modal fade" id="errormodal" tabindex="-1" aria-labelledby="errormodal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white-50">
        <h3>error</h3>
      </div>
      <div class="modal-body justify-content">
        {{this.errorMessages}}
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--#endregion-->
