<div class="container">
  <h1 class="text-center pt-4">Yu-Gi-Oh! Card Store</h1>
  <form class="form-inline" [formGroup]="Searchform">
      <div class="input-group">
        <input formControlName="Search" class="form-control" placeholder="Search" aria-label="Search" type="search">
        <button type="button" class="btn btn-dark btn">Search Filter</button>
      </div>
  </form>
  <div class="row align-items-center">
    <div *ngFor="let item of this.cardData?.data" class="col-sm pb-4 pt-4">
      <div class="card bg-dark text-white" style="width: 18rem;">
        <img id="cardImage" class="card-img-top" src="{{item.card_images[0].image_url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-truncate">{{item.name}}</h5>
          <p class="card-text truncate-t">{{item.desc}}</p>
          <button (click)="AddToCart(item)" class="btn btn-light text-dark">Add to cart</button> Price: <b>{{item.card_prices[0].tcgplayer_price}} $</b>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-3">
    <button type="button" class="btn btn-dark btn-sm" (click)="prevPage()">Prev Page</button>
    <button type="button" class="btn btn-dark btn-sm" (click)="nextPage()">Next page</button>
  </div>
</div>
