<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Yu-Gi-Oh!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
  </div>
  <form *ngIf="(this._profile.IsLogged  | async)== false">
    <button class="btn btn-sm rounded-circle" routerLink="/login"  type="button" >
        <i class="far fa-user icon-hover"></i>
     </button>
 </form>
 <div class="dropdown" *ngIf="(this._profile.IsLogged  | async)== true">
  <button class="btn btn-sm  text-success rounded-circle dropdown-toggle" type="button" id="LoginButton" data-bs-toggle="collapse"
  data-bs-auto-close="true" aria-expanded="false" ><i class="fas fa-user fa-2x icon-hover" aria-label="Toggle navigation"></i>
  </button>
  <ul class="dropdown-menu" aria-labelledby="LoginButton" >
      <li><a class="dropdown-item" routerLink="/profil">Edit Profile</a></li>
      <li><a class="dropdown-item" routerLink="/home" (click)="LogOut()">Log out</a></li>
  </ul>
</div>
</nav>
